* {
    margin: 0;
    padding: 0;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

header img {
    width: 200px;
}

.nav-header {
    display: flex;
    gap: 15px;
}

.nav-header a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #63aaea;
    transition: all 0.6s;
    font-size: 18px;
}

.nav-header a:hover {
    color: #596179;
}

.section-noticias h3 {
    color: #596179;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-noticias {
    margin-bottom: 50px;
}

.img-noticia {
    height: 280px;
    box-shadow: 0px 0px 7px #000000c0;
    overflow: hidden;
}

.img-noticia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: rgba(237, 237, 237, 0.44);
}

.campo-noticias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0px 40px;
    margin-bottom: 45px;
}

.noticia {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    width: 240px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border-radius: 20px;
}

.titulo-noticia {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.autor-noticia {
    font-size: 17px;
    margin-bottom: 22px;
}

.data-noticia {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.descricao-noticia {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 90%;
    margin-left: 60px;
}

.nomeautor {
    color: red;
}

.noticia a {
    border: 1px solid #63aaea;
    border-radius: 13px;
    color: #596179;
    padding: 10px;
    text-decoration: none;
    transition: all 0.5s;
    display: inline-block;
}

.noticia a:hover {
    border-radius: 13px;
    background-color: #63aaea;
    color: white;
    padding: 10px;
}

footer {
    height: 80px;
}

footer img {
    width: 130px;
}

footer p {
    font-size: 18px;
    color: #596179;
}

.redes-sociais nav {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.redes-sociais nav a {
    color: #63aaea;
    font-size: 35px;
    transition: all 0.6s;
}

.redes-sociais nav a:hover {
    color: #596179;
}
