<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="../static/css/cadpolitico.css">
</head>
<body>
    <header>
        <img src="../static/img/brasaoprefeitura.png"/>

        <nav class="nav-header">
            <a href="/homefuncionario"><i class="fa-solid fa-house"></i> | Voltar ao home</a>
        </nav>
    </header>

    <main>
        <section class="section-login">
            <div class="campo-login">
                <form class="formlogin" action="/cadpoliticoform" method="POST" enctype="multipart/form-data">
                    <h3><i class="fa-solid fa-briefcase"></i> Cadastro de Político</h3>

                    <div class="input-box">
                        <label for="nome">Nome:</label>
                        <input class="inputclass" name="nome" id="nome" required placeholder="Insira o nome" type="text">
                    </div>

                    <div class="input-box">
                        <label for="partido">Partido:</label>
                        <input class="inputclass" name="partido" id="partido" required placeholder="Insira o partido" type="text">
                    </div>

                    <div class="input-box">
                        <label for="funcao">Função:</label>
                        <input class="inputclass" name="funcao" id="funcao" required placeholder="Insira a função" type="text">
                    </div>

                    <div class="input-box">
                        <label for="email">E-mail:</label>
                        <input class="inputclass" name="email" id="email" required placeholder="Insira o e-mail" type="email">
                    </div>

                    <div class="input-box">
                        <label for="foto">Foto:</label>
                        <input class="inputclass" name="foto" id="foto" type="file" accept="image/*" required>
                    </div>

                    <button class="button-login" type="submit">Cadastrar</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <img src="../static/img/brasaosp.png"/>
        <p>&copy; Prefeitura Penapolense - 2024. Todos os direitos reservados.</p>

        <div class="redes-sociais">
            <nav>
                <a href="https://www.instagram.com/prefeituradepenapolis/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.facebook.com/prefeituradepenapolis/?locale=pt_BR" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCcC0QQxdBxxSE1V76YyeQbQ/videos" target="_blank"><i class="fa-brands fa-square-youtube"></i></a>
                <a href="/opiniao"><i class="fa-solid fa-envelope"></i></a>
            </nav>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/71c60d6887.js" crossorigin="anonymous"></script>
</body>
</html>
