<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="../static/css/planejamento.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@650&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@430&display=swap" rel="stylesheet">
</head>

<body>
    <!-- header junto de navegações -->
    <header>
        <div class="header-div-logo">
            <a href="/">
                <img src="../static/img/brasaoprefeitura.png" alt="brasão prefeitura" class="imgprefeitura"></a>
        </div>

        <div class="header-div-nav">
            <nav class="nav-princ">
                <a href="/">Home</a>
                <a href="/administracao">Administração</a>
                <a href="/contato">Contato</a>
                <a href="/penapolenseshop">Penapolense SHOP</a>
                <a href="/login" class="a-login"><i class="fa-solid fa-computer"></i> Entrar</a>
            </nav>
        </div>
    </header>

    <div class="espaco-header-projetos"></div>

    <h6>Infraestrutura urbana</h6>
    <section class="projetos">
        {% for planejamento in Planejamentos %}
            <section class="sessaoinfraestrutura">
                <div class="projetos-infraestrutura">
                    <h5 class="titulo-projeto">{{ planejamento[2] }}</h5>
                </div>

                <div class="foto-obra">
                    <img src="/imagemFETCHONEPLANEJAMENTO/{{ planejamento[0] }}" alt="Imagem do planejamento"/>
                </div>

                <p class="descricao-projeto">{{ planejamento[3] }}</p>
            </section>
        {% endfor %}
    </section>

    <!-- footer -->
    <footer>
        <div class="footerbaixo">
            <div class="govsp-footer">
                <a href="https://www.saopaulo.sp.gov.br/" target="_blank">
                    <img src="../static/img/brasaosp.png" alt="governo de SP" width="200px"></a>
            </div>

            <div class="space-div-footer">
                <p>&copy; Prefeitura municipal de Penápolis 2024. Todos os direitos reservados.</p>
    
                <div class="redesfooter">
                        <a href="https://www.instagram.com/prefeituradepenapolis/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="https://www.facebook.com/prefeituradepenapolis/?locale=pt_BR" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://www.youtube.com/channel/UCcC0QQxdBxxSE1V76YyeQbQ/videos" target="_blank"><i class="fa-brands fa-square-youtube"></i></a>
                        <a href="/opiniao"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>

            <!-- duas divs criadas pra centralizar a class "space-div-footer" no meio do footer
    foi utilizado o space-between para tal feito! -->
            <div></div>
            <div></div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/71c60d6887.js" crossorigin="anonymous"></script>
</body>

</html>