<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="../static/css/editaradministracao.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@650&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@430&display=swap" rel="stylesheet">
</head>
<body>
    <!-- header junto de navegações -->
    <header>
        <div class="header-div-logo">
            <a href="/">
                <img src="../static/img/brasaoprefeitura.png" alt="brasão prefeitura" class="imgprefeitura"></a>
        </div>

        <div class="header-div-nav">
            <nav class="nav-princ">
                <a href="/homefuncionario"><i class="fa-solid fa-house"></i> | Voltar ao home</a>
            </nav>
        </div>
    </header>

<h2 class="governancah2">Editando: Governança Municipal</h2>

<section class="principais">
    {% for prefeitoevice in Prefeitos %}
        <div class="div-principais">
            <div class="vereadores-foto">
                <img src="/imagemFETCHONEPREFEITOS/{{ prefeitoevice[0] }}" width="200px">
            </div>

            <p class="nome">{{ prefeitoevice[2] }}</p>
            <button class="cargo">{{ prefeitoevice[3] }}</button>

            <div class="botoes-acoes">
                <a href="/editarPrefeito/{{ prefeitoevice[0] }}" class="btn-editar">
                    <i class="fa-solid fa-pen"></i> Editar</a>
            </div>
        </div>
    {% endfor %}
</section>

<h2>Editando - Vereadores: Legisladores Municipais</h2>

    <section class="vereadores">
    {% for vereador in Politicos %}
        <div class="div-principais">
            <div class="vereadores-foto">
                <img src="/imagemFETCHONEVEREADOR/{{ vereador[0] }}" width="200px">
            </div>

            <p class="nome">{{ vereador[2] }}</p>
            <button class="cargo">({{ vereador[3] }}) - {{ vereador[4] }}</button>

            <div class="botoes-acoes">
                <a href="/editarPolitico/{{ vereador[0] }}" class="btn-editar">
                    <i class="fa-solid fa-pen"></i> Editar</a>

                <a href="/excluirpolitico/{{ vereador[0] }}" onclick="return confirm('Você tem certeza que deseja excluir o político {{ vereador[2] }}?');" class="btn-excluir">
                    <i class="fa-solid fa-trash"></i> Excluir</a>
            </div>
        </div>
    {% endfor %}
    </section>

    <!-- footer -->
    <footer>
<div class="footerbaixo">
    <div class="govsp-footer">
        <a href="https://www.saopaulo.sp.gov.br/" target="_blank">
        <img src="../static/img/brasaosp.png" alt="governo de SP" width="200px"></a>
    </div>

    <div class="space-div-footer">
        <p>&copy; Prefeitura municipal de Penápolis 2024. Todos os direitos reservados.</p>

        <div class="redesfooter">
                <a href="https://www.instagram.com/prefeituradepenapolis/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.facebook.com/prefeituradepenapolis/?locale=pt_BR" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCcC0QQxdBxxSE1V76YyeQbQ/videos" target="_blank"><i class="fa-brands fa-square-youtube"></i></a>
                <a href="/opiniao"><i class="fa-solid fa-envelope"></i></a>
        </div>
    </div>

    <!-- duas divs criadas pra centralizar a class "space-div-footer" no meio do footer
    foi utilizado o space-between para tal feito! -->
    <div></div>
    <div></div>
</div>
    </footer>

    <script src="https://kit.fontawesome.com/71c60d6887.js" crossorigin="anonymous"></script>
</body>
</html>